body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 2em;
    background: #f9f9f9;
}

header {
    background-color: #a7288a;
    padding: 1.5rem 2rem;
    margin: -2em -2em 2em -2em;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav a {
    margin-left: 1.5em;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 0.5em 0.8em;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #85206e;
    text-decoration: none;
}


